:root {
	color-scheme: light dark;
	--sidebar-width: 200px;
	--water-color: #c8ebff;
	--land-color: gainsboro;
	--russia-color: azure;
	--foreign-border-color: gray;
	--color-new-republic-of-russia: #4d4dff;
	--color-komi-republic: #f96b6b;
	--color-khakassia-republic: #ff9292;
	--color-sakha-republic: #5f39ff;
	--color-buryat-republic: #fff936;
	--color-altai-republic: #5fd9ff;
	--color-tuva-republic: #a5a000;
	--color-bashkortostan-republic: #fffdb3;
	--color-mordovia-republic: #ff2cfa;
	--color-chuvashia-republic: #00a82b;
	--color-mari-el-republic: #40ffe8;
	--color-udmurtia-republic: #fffc8f;
	--color-tatarstan-republic: #ffaa39;
	--color-karachay-cherkess-republic: #6c77ff;
	--color-kabardino-balkar-republic: #ff333d;
	--color-alania-republic: #3eb6ff;
	--color-ingushetia-republic: #b57400;
	--color-ichkeria-republic: #b50079;
	--color-kalmykia-republic: #22f;
	--color-dagestan-republic: #2cff59;
	--color-karelia: #fffb5c;
	--color-nenets-state: #a9fff9;
	--color-ural-republic: #9bff66;
	--color-siberian-republic: #ccae00;
	--color-far-eastern-republic: #ff0808;
	--color-kralovec-republic: #00ff12;
	--color-adygea-republic: red;
	--main-color: #dfe7f5;
	--secondary-color: #99b5e0;
	--text-color: #243060;
	--selkup-color: #17a00b;
	--khanty-color: #891c1c;
	--mansi-color: #f70000;
	--enets-color: #a0a0a0;
	--taymyria-color: #2200e8;
	--evenki-color: #f140ff;
	--chukotka-color: #ed0bff;
	--kamchatka-color: #ffce00;
	--karachay-balkar-color: #6eff7f;
	--github-logo-color: #24292f;
}

.light-theme {
	--water-color: #c8ebff;
	--land-color: gainsboro;
	--russia-color: azure;
	--foreign-border-color: gray;
	--color-new-republic-of-russia: #4d4dff;
	--color-komi-republic: #f96b6b;
	--color-khakassia-republic: #ff9292;
	--color-sakha-republic: #5f39ff;
	--color-buryat-republic: #fff936;
	--color-altai-republic: #5fd9ff;
	--color-tuva-republic: #a5a000;
	--color-bashkortostan-republic: #fffdb3;
	--color-mordovia-republic: #ff2cfa;
	--color-chuvashia-republic: #00a82b;
	--color-mari-el-republic: #40ffe8;
	--color-udmurtia-republic: #fffc8f;
	--color-tatarstan-republic: #ffaa39;
	--color-karachay-cherkess-republic: #6c77ff;
	--color-kabardino-balkar-republic: #ff333d;
	--color-alania-republic: #3eb6ff;
	--color-ingushetia-republic: #b57400;
	--color-ichkeria-republic: #b50079;
	--color-kalmykia-republic: #22f;
	--color-dagestan-republic: #2cff59;
	--color-karelia: #fffb5c;
	--color-nenets-state: #a9fff9;
	--color-ural-republic: #9bff66;
	--color-siberian-republic: #ccae00;
	--color-far-eastern-republic: #ff0808;
	--color-kralovec-republic: #00ff12;
	--color-adygea-republic: red;
	--main-color: #dfe7f5;
	--secondary-color: #99b5e0;
	--text-color: #243060;
	--selkup-color: #17a00b;
	--khanty-color: #891c1c;
	--mansi-color: #f70000;
	--enets-color: #a0a0a0;
	--taymyria-color: #2200e8;
	--evenki-color: #f140ff;
	--chukotka-color: #ed0bff;
	--kamchatka-color: #ffce00;
	--karachay-balkar-color: #6eff7f;
	--github-logo-color: #24292f;
}

.dark-theme {
	--water-color: #306481;
	--land-color: rgb(21, 31, 31);
	--russia-color: rgb(31, 63, 63);
	--foreign-border-color: rgb(180, 180, 180);
	--color-new-republic-of-russia: #4d4dff;
	--color-komi-republic: #f96b6b;
	--color-khakassia-republic: #ff9292;
	--color-sakha-republic: #5f39ff;
	--color-buryat-republic: #fff936;
	--color-altai-republic: #5fd9ff;
	--color-tuva-republic: #a5a000;
	--color-bashkortostan-republic: #fffdb3;
	--color-mordovia-republic: #ff2cfa;
	--color-chuvashia-republic: #00a82b;
	--color-mari-el-republic: #40ffe8;
	--color-udmurtia-republic: #fffc8f;
	--color-tatarstan-republic: #ffaa39;
	--color-karachay-cherkess-republic: #6c77ff;
	--color-kabardino-balkar-republic: #ff333d;
	--color-alania-republic: #3eb6ff;
	--color-ingushetia-republic: #b57400;
	--color-ichkeria-republic: #b50079;
	--color-kalmykia-republic: #22f;
	--color-dagestan-republic: #2cff59;
	--color-karelia: #fffb5c;
	--color-nenets-state: #a9fff9;
	--color-ural-republic: #9bff66;
	--color-siberian-republic: #ccae00;
	--color-far-eastern-republic: #ff0808;
	--color-kralovec-republic: #00ff12;
	--color-adygea-republic: red;
	--main-color: #0e1123;
	--secondary-color: #253060;
	--text-color: rgb(230, 230, 230);
	--selkup-color: #17a00b;
	--khanty-color: #891c1c;
	--mansi-color: #f70000;
	--enets-color: #a0a0a0;
	--taymyria-color: #2200e8;
	--evenki-color: #f140ff;
	--chukotka-color: #ed0bff;
	--kamchatka-color: #ffce00;
	--karachay-balkar-color: #6eff7f;
	--github-logo-color: white;
}

@media (prefers-color-scheme: dark) {
	:root {
		--water-color: #306481;
		--land-color: rgb(21, 31, 31);
		--russia-color: rgb(31, 63, 63);
		--foreign-border-color: rgb(180, 180, 180);
		--color-new-republic-of-russia: #4d4dff;
		--color-komi-republic: #f96b6b;
		--color-khakassia-republic: #ff9292;
		--color-sakha-republic: #5f39ff;
		--color-buryat-republic: #fff936;
		--color-altai-republic: #5fd9ff;
		--color-tuva-republic: #a5a000;
		--color-bashkortostan-republic: #fffdb3;
		--color-mordovia-republic: #ff2cfa;
		--color-chuvashia-republic: #00a82b;
		--color-mari-el-republic: #40ffe8;
		--color-udmurtia-republic: #fffc8f;
		--color-tatarstan-republic: #ffaa39;
		--color-karachay-cherkess-republic: #6c77ff;
		--color-kabardino-balkar-republic: #ff333d;
		--color-alania-republic: #3eb6ff;
		--color-ingushetia-republic: #b57400;
		--color-ichkeria-republic: #b50079;
		--color-kalmykia-republic: #22f;
		--color-dagestan-republic: #2cff59;
		--color-karelia: #fffb5c;
		--color-nenets-state: #a9fff9;
		--color-ural-republic: #9bff66;
		--color-siberian-republic: #ccae00;
		--color-far-eastern-republic: #ff0808;
		--color-kralovec-republic: #00ff12;
		--color-adygea-republic: red;
		--main-color: #0e1123;
		--secondary-color: #253060;
		--text-color: rgb(230, 230, 230);
		--selkup-color: #17a00b;
		--khanty-color: #891c1c;
		--mansi-color: #f70000;
		--enets-color: #a0a0a0;
		--taymyria-color: #2200e8;
		--evenki-color: #f140ff;
		--chukotka-color: #ed0bff;
		--kamchatka-color: #ffce00;
		--karachay-balkar-color: #6eff7f;
		--github-logo-color: white;
	}
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: var(--water-color);
	overflow-y: hidden;
	font-family: Ubuntu, Helvetica, "Noto Sans", Roboto, Arial, sans-serif;
}

* {
	color: var(--text-color);
}

*::-webkit-scrollbar {
	background-color: var(--main-color);
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);
}

.hidden {
	display: none;
}

path,
polygon,
polyline {
	stroke-width: .5pt;
}

@media (max-width: 1024px) {
	body,
	html {
		overflow-x: scroll;
		font-size: 18pt;
	}

	:root {
		--sidebar-width: 100px;
	}

	*::-webkit-scrollbar {
		width: 12px;
	}
}

.admin-borders,
.admin-borders * {
	stroke: black;
	fill: none;
	stroke-width: 0.33pt;
}

#rivers path {
	stroke: var(--water-color);
	fill: none;
}

#lakes path {
	fill: var(--water-color);
	stroke: none;
}

.foreign-territory,
.foreign-territory * {
	fill: var(--land-color) !important;
	stroke: none !important;
	stroke-width: 0;
}

.foreign-borders * {
	stroke: var(--foreign-border-color);
	stroke-width: 1pt;
	fill: none;
}

#republics {
	fill: var(--russia-color);
	stroke: black;

	.new-republic-of-russia {
		fill: var(--color-new-republic-of-russia);

		* {
			fill: inherit;
		}
	}

	.komi-republic {
		fill: var(--color-komi-republic);
	}

	.khakassia-republic {
		fill: var(--color-khakassia-republic);
	}

	.sakha-republic * {
		fill: var(--color-sakha-republic);
	}

	.buryat-republic {
		fill: var(--color-buryat-republic);
	}

	.altai-republic {
		fill: var(--color-altai-republic);
	}

	.tuva-republic {
		fill: var(--color-tuva-republic);
	}

	.bashkortostan-republic {
		fill: var(--color-bashkortostan-republic);
	}

	.mordovia-republic {
		fill: var(--color-mordovia-republic);
	}

	.chuvashia-republic {
		fill: var(--color-chuvashia-republic);
	}

	.mari-el-republic {
		fill: var(--color-mari-el-republic);
	}

	.udmurtia-republic {
		fill: var(--color-udmurtia-republic);
	}

	.tatarstan-republic {
		fill: var(--color-tatarstan-republic);
	}

	.karachay-cherkess-republic {
		fill: var(--color-karachay-cherkess-republic);
	}

	.kabardino-balkar-republic {
		fill: var(--color-kabardino-balkar-republic);
	}

	.alania-republic {
		fill: var(--color-alania-republic);
	}

	.ingushetia-republic {
		fill: var(--color-ingushetia-republic);
	}

	.ichkeria-republic {
		fill: var(--color-ichkeria-republic);
	}

	.kalmykia-republic {
		fill: var(--color-kalmykia-republic);
	}

	.dagestan-republic * {
		fill: var(--color-dagestan-republic);
	}

	.karelia {
		fill: var(--color-karelia);
	}

	.nenets-state * {
		fill: var(--color-nenets-state);
	}

	.ural-republic * {
		fill: var(--color-ural-republic);
	}

	.siberian-republic * {
		fill: var(--color-siberian-republic);
	}

	:global(.far-eastern-republic *) {
		fill: var(--color-far-eastern-republic);
	}

	.kralovec-republic {
		fill: var(--color-kralovec-republic);
	}

	.adygea-republic {
		fill: var(--color-adygea-republic);
	}

	.flag.new-republic-of-russia {
		fill: url(#liberal-russian-flag);
	}

	.flag.komi-republic {
		fill: url(#komi-flag);
	}

	.flag.khakassia-republic {
		fill: url(#khakassia-flag);
	}

	.flag.sakha-republic * {
		fill: url(#sakha-flag);
	}

	.flag.buryat-republic {
		fill: url(#buryat-flag);
	}

	.flag.altai-republic {
		fill: url(#altai-flag);
	}

	.flag.tuva-republic {
		fill: url(#tuva-flag);
	}

	.flag.bashkortostan-republic {
		fill: url(#bashkortostan-flag);
	}

	.flag.mordovia-republic {
		fill: url(#mordovia-flag);
	}

	.flag.chuvashia-republic {
		fill: url(#chuvashia-flag);
	}

	.flag.mari-el-republic {
		fill: url(#mari-el-flag);
	}

	.flag.udmurtia-republic {
		fill: url(#udmurtia-flag);
	}

	.flag.tatarstan-republic {
		fill: url(#tatarstan-flag);
	}

	.flag.karachay-cherkess-republic {
		fill: url(#karachay-cherkess-flag);
	}

	.flag.kabardino-balkar-republic {
		fill: url(#kabardino-balkar-flag);
	}

	.flag.alania-republic {
		fill: url(#alania-flag);
	}

	.flag.ingushetia-republic {
		fill: url(#ingushetia-flag);
	}

	.flag.ichkeria-republic {
		fill: url(#ichkeria-flag);
	}

	.flag.kalmykia-republic {
		fill: url(#kalmykia-flag);
	}

	.flag.dagestan-republic * {
		fill: url(#dagestan-flag);
	}

	.flag.karelia {
		fill: url(#karelia-flag);
	}

	.flag.nenets-state * {
		fill: url(#nenets-flag);
	}

	.flag.ural-republic * {
		fill: url(#ural-flag);
	}

	.flag.siberian-republic * {
		fill: url(#siberian-flag);
	}

	.flag.far-eastern-republic * {
		fill: url(#far-eastern-flag);
	}

	.flag.kralovec-republic {
		fill: url(#kralovec-flag);
	}

	.flag.adygea-republic {
		fill: url(#adygea-flag);
	}
}

#claims {
	fill: var(--russia-color);
	stroke-width: 1pt;

	.greater-karelia-republic {
		stroke-width: 0.5pt;
		stroke: black;
		fill: var(--color-karelia);
	}

	.kralovec-city {
		stroke-width: 1.5pt;
		stroke: var(--foreign-border-color);
	}

	.greater-buryatia {
		stroke-width: 0.5pt;
		stroke: black;
		fill: var(--color-buryat-republic);
	}

	.land {
		fill: var(--land-color);
		stroke: none;
	}

	.border {
		fill: none;
		stroke: var(--foreign-border-color);
		stroke-width: 1pt;
	}

	.flag.greater-karelia-republic {
		fill: url(#karelia-flag);
	}

	.flag.greater-buryatia {
		fill: url(#buryat-flag);
	}

	.foreign-territory.foreign-borders {
		stroke: var(--foreign-border-color) !important;
		stroke-width: 1pt !important;
	}

	.stroke {
		stroke-width: 0.5pt;
		stroke: black;
	}

	.nenets-nation {
		fill: var(--color-nenets-state);
	}

	.flag.nenets-nation {
		fill: url(#nenets-nation-flag);
	}

	.circassia {
		fill: var(--color-adygea-republic);
	}

	.flag.circassia {
		fill: url(#circassia-flag);
	}

	.enets-country {
		fill: var(--enets-color);
	}

	.flag.enets-country {
		fill: url(#enets-flag);
	}

	.komi-permyak-union {
		fill: var(--color-komi-republic);
	}

	.flag.komi-permyak-union {
		fill: url(#komi-flag);
	}

	.khanty {
		fill: var(--khanty-color);
	}

	.flag.khanty {
		fill: url(#khanty-flag);
	}

	.mansi {
		fill: var(--mansi-color);
	}

	.flag.mansi {
		fill: url(#mansi-flag);
	}

	.selkup-territory {
		fill: var(--selkup-color);
	}

	.flag.selkup-territory {
		fill: url(#selkup-flag);
	}

	.evenkia {
		fill: var(--evenki-color);
	}

	.flag.evenkia {
		fill: url(#evenkia-flag);
	}

	.taymyria {
		fill: var(--taymyria-color);
	}

	.flag.taymyria {
		fill: url(#taymyria-flag);
	}

	.chukotka {
		fill: var(--chukotka-color);
	}

	.flag.chukotka {
		fill: url(#chukotka-flag);
	}

	.kamchatka {
		fill: var(--kamchatka-color);
	}

	.flag.kamchatka {
		fill: url(#kamchatka-flag);
	}

	.altai-mountains {
		fill: var(--color-altai-republic);
	}

	.altai-mountains {
		fill: url(#altai-flag);
	}

	.karachay-balkar {
		fill: var(--karachay-balkar-color);
	}

	.flag.karachay-balkar {
		fill: url(#karachay-balkar-flag);
	}
}

#popup {
	position: absolute;
	margin: 5px;
	max-width: 35%;
	border-color: var(--secondary-color);
	border-width: 2pt;
	border-radius: 4pt;
	background-color: var(--main-color);
	fill: var(--text-color);
	flex-direction: column;
	gap: 10px;
	font-size: small;
}

#popup[open] {
	display: flex;
}

#popup span {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

#popup span p {
	margin: 0;
}

#popup h5 {
	margin: 0;
	color: var(--secondary-color);
}

#popup h1 {
	margin: 0;
	padding: 0;
}

#popup:focus {
	outline: none;
}

#notice[open] {
	position: fixed;
	inset: 0;
	padding: 10px 20px;
	border-color: brown;
	border-width: 1pt;
	border-radius: 4pt;
	background-color: var(--main-color);
	margin: auto;
	display: flex;
	max-width: 40%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#notice[open] * {
	margin: 0;
	padding: 0;
}

#notice[open] p {
	padding: 5px 0;
}

#notice[open] h1 {
	line-height: 1;
	margin: 0;
}

#notice p {
	margin: 10px 0;
}

#notice[open] button {
	appearance: none;
	background-color: var(--secondary-color);
	padding: 10px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

#info {
	fill: rgb(230, 230, 230);
	background-color: rgba(0, 0, 0, 0.5);
	max-width: 40%;
	max-height: 90%;
	overflow: hidden;
	border-color: var(--secondary-color);
	background-blend-mode: overlay;
	border-radius: 4px;
	border-width: 2pt;
	padding: 5%;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#info h1 {
	font-size: 36pt;
}

#info * {
	color: rgb(230, 230, 230);
}

#info span {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-direction: row;
}

#info svg {
	min-width: 24px;
	min-height: 24px;
}

#info form button {
	position: absolute;
	top: 0;
	right: 0;
	appearance: none;
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	border-radius: 4px;
	border-top-right-radius: 0;
}

#info form button svg {
	width: 18px;
	height: 18px;
}

#info form button:hover {
	background-color: rgb(165, 65, 65);
}

@media (max-width: 1023px) {
	#info {
		max-width: 100%;
		min-width: 100%;
		max-height: 100%;
		min-height: 100%;
		padding: 0;
		overflow-y: auto;
		border: none;
	}

	#info h1 {
		margin-top: 20px;
	}

	#info>* {
		margin: 0 10px;
	}

	#info>P {
		margin-top: 20px;
	}

	#info form button {
		position: fixed;
		top: unset;
		bottom: 0;
		border-color: transparent;
		border-radius: 8px;
		margin: 0 5px 5px 0;
		height: var(--toggler-height);
		width: var(--toggler-height);
		opacity: 0.8;
		background-color: var(--secondary-color);
	}

	#info form button:hover {
		background-color: unset;
	}

	#info form button svg {
		width: unset;
		height: unset;
	}

	#notice[open] button {
		font-size: 15pt;
		width: fit-content;
		height: fit-content;
	}

	#notice[open] {
		max-width: 95%;
	}
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}
